body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('background-image.jpg') no-repeat center center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.go-back {
    position: absolute;
    top: 20px;
    left: 20px;
}

.go-back a {
    text-decoration: none;
    color: white;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.login-container {
    width: 100%;
    max-width: 400px;
}

.login-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    text-align: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    color: white;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    color: white;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
}

.input-group input::placeholder {
    color: #ddd;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.btn-google, .btn-facebook {
    flex: 1;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}

.btn-google {
    background-color: #db4a39;
    color: white;
    margin-right: 4%;
}

.btn-facebook {
    background-color: #3b5998;
    color: white;
}

.signup-text {
    color: white;
    font-size: 14px;
}

.signup-text a {
    color: white;
    text-decoration: none;
}
