body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo {
    width: 240px;
    margin-right: 60px;
}

.header-title h1 {
    font-size: 18px;
    margin: 0;
    line-height: 1.2;
}

.header-title p {
    font-size: 14px;
    color: red;
    margin: 0;
}

.repository-title h2 {
    font-size: 18px;
    margin: 0;
    font-weight: normal;
}

.nav-bar {
    background-color: #0d1a80;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.nav-menu a:hover {
    text-decoration: underline;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-icons .icon {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.nav-icons .icon:hover {
    text-decoration: underline;
}

main h2 {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
    color: #0d1a80; /* Optional: add color to match the theme */
}


table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td input {
    width: 90%;
}

th, td {
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0d1a80;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #082c6c;
}
